body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100% !important;
  max-width: 1200px;
}

#map-wrapper {
  position: relative;
  overflow: hidden;
}

#map {
  height: 500px;
}

#category-filters {
  display: none;
}

#category-filters h5 {
  margin: 0 0 20px 0;
  padding: 0;
}

.panel {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  background: #fff;
  padding: 20px;
  overflow: hidden;
}

.filter-wrapper {
  overflow: scroll;
}

.filters {
  list-style: none;
  margin: 0 20px 0 0;
}
.filter {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#map-key {
  position: absolute;
  z-index: 999;
  left: 0;
  bottom: 0;
  background: #fff;
  background: rgba(255,255,255,0.7);
  padding: 10px 60px 0 0;
  border-top-right-radius: 10px;

}
#map-key > div {
  position: relative;
  height: 150px;
  width: 20px;
  background: rgba(170,255,0,1);
  background: -moz-linear-gradient(top, rgba(170,255,0,1) 0%, rgba(0,255,255,1) 50%, rgba(255,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,255,0,1)), color-stop(50%, rgba(0,255,255,1)), color-stop(100%, rgba(255,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(170,255,0,1) 0%, rgba(0,255,255,1) 50%, rgba(255,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(170,255,0,1) 0%, rgba(0,255,255,1) 50%, rgba(255,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(170,255,0,1) 0%, rgba(0,255,255,1) 50%, rgba(255,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(170,255,0,1) 0%, rgba(0,255,255,1) 50%, rgba(255,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaff00', endColorstr='#ff0000', GradientType=0 );
}

#map-key > div span {
  position: absolute;
  left: 100%;
  top: 50%;
  padding-left: 5px;
  line-height: 1;
  font-size: 10px;
  text-transform: uppercase;
  transform: translateY(-50%);
}
#map-key > div span:nth-child(2):before {
  content: ' ';
  position: absolute;
  right: 100%;
  top: 50%;
  width: 100%;
  height: 1px;
  background: black;
}
#map-key > div span:first-child {
  top: 0;
  transform: translateY(0);
}
#map-key > div span:last-child {
  top: 100%;
  transform: translateY(-100%);
}